@import url('variables_couleurs.css');

.Profil a{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border: solid 1px #1c1c1c;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.Profil a{
    background: #ff4e4e;
    color: #1c1c1c;
}

.Button_profil button{
    color: #1c1c1c;
}

.Button_profil button:hover, .Button_profil button:focus{
    background: #1c1c1c;
    color: var(--col-white);
}

.Button_profil label{
    background-color: var(--col-light-orange);
    color: #1c1c1c;
}

.Button_profil label{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border: solid 1px #1c1c1c;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #ff4e4e;
}

.Button_profil button{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border: solid 1px #1c1c1c;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.table-demandes-perso{
    border-collapse: collapse;
    width: 1100px;
    font-size: 16px;
}

.conteneur_table {
    border: 1px solid #555555;
    overflow-y: auto;
    background-color: #fffb;
    border-radius: 10px;
}

.conteneur_table {
    scrollbar-color: #31251f #e2d5ef;
    scrollbar-width: thin;
}

.conteneur_table-demandes-perso {
    height: 600px;
}

thead {
    background-color: var(--col-light-orange);
    text-align: left;
    position: sticky;
    top: 0;
}

thead tr{
    position: sticky;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
    position: sticky;
    cursor: pointer;
    text-align: center;
    padding: 15px 10px;
    position: sticky;
    top: 0;
    background-color: var(--col-light-orange);
}


td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

.table-demandes-perso {
    border-collapse: collapse;
    width: 1100px;
    font-size: 16px;
}

.table-ticket-profil {
    width: 100%;
}

.table-demandes-perso > tbody > tr {
    height: 80px;
}

tbody tr {
    transition: 0.4s;
    background-color: #ECECEC;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.Stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn-open-popup {
    padding: 12px 24px;
    font-size: 18px;
    background-color: var(--col-pink);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-open-popup:hover, .btn-open-popup:focus {
    background-color: var(--col-dark-gray);
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup-box {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 560px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.btn-submit,
.btn-close-popup {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit {
    background-color: var(--col-pink);
    color: #fff;
}

.btn-close-popup {
    margin-top: 12px;
    background-color: #e74c3c;
    color: #fff;
}

.btn-submit:hover,
.btn-close-popup:hover,
.btn-submit:focus,
.btn-close-popup:focus {
    background-color: var(--col-dark-gray);
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for popup */
.overlay-container.show {
    display: flex;
    opacity: 1;
}


.scrollable {
    width: 100%; /* La largeur maximale du conteneur */
    max-height: 200px; /* Hauteur maximale de la zone */
    overflow-y: auto; /* Activer le défilement vertical uniquement */
    overflow-x: hidden; /* Désactiver le défilement horizontal */
    border: 1px solid #ccc; /* Optionnel : bordure pour délimiter la zone */
    padding: 10px; /* Optionnel : espacement intérieur */
    background-color: #f9f9f9; /* Optionnel : couleur de fond */
    font-family: Arial, sans-serif; /* Optionnel : police */
    font-size: 14px; /* Optionnel : taille de police */
    text-align:start;
  }

.champs-password .password-show, .champs-password .password-hide{
    top: 29px;
}


/* Style nuke sur les utilisateurs */
.nuke-controls {
    background: var(--col-light-gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 60%;
    margin: 20px auto;
}

.nuke-controls h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.nuke-controls select {
    width: 200px;
    padding: 8px;
    border: 1px solid var(--col-light-gray);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 18px;
}

.nuke-btn {
    color: var(--col-white);
    background: var(--col-red);
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border: solid 1px  var(--col-black);;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.nuke-btn:hover, .nuke-btn:focus {
    background: var(--col-salmon);
}

.nuke-btn:active {
    transform: scale(0.98);
}


.select-search-container {
    position: relative;
    border: var(--col-black) 1px solid;
    width: 100%;
    margin-bottom: 10px;
}

.select-search-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: var(--col-black) 1px solid;
    border-radius: 4px;
}

.select-search-container select {
    width: 100%;
    height: 300px;
    max-height: 150px;
    overflow-y: auto;
}

.nuke-all-option {
    background-color: var(--col-red);
    color: var(--col-white);;
    font-weight: bold;
    padding: 8px;
    border-bottom: 2px solid var(--col-red);
}

.nuke-all-option:hover, .nuke-all-option:focus{
    background-color: var(--col-black);
}

.refresh-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.refresh-btn {
    color: var(--col-black);
    background: var(--col-light-orange);
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border: solid 1px var(--col-dark-gray);;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.refresh-btn span {
    display: inline-block;
    margin-right: 5px;
}

.refresh-btn:hover {
    background: var(--col-orange);
}

.refresh-btn:active {
    transform: scale(0.98);
}

fieldset {
    padding: 20px;
}
